<%= form_for [@forum_question_comment] do |f| %>
<div>
	<span class="add-comment-link">add a comment</span>
	<div class="comment">
		<%= f.hidden_field :forum_question_id %>

		<%= f.text_area :body, placeholder: "Write a comment!" %>
		
		<%= f.submit %>
	</div>
</div>
<% end %>