<ul>
	<% answer.forum_answer_comments.each do |comment| %>
	<li>
		<%= comment.body %>

		<div class="user_time">
			<span class="forum-user"><%= link_to comment.user.email %></span>
			<span class="time"><%= distance_of_time_in_words(comment.created_at, Time.now) %> ago</span>
		</div>
		
	</li>
	<% end %>
</ul>