<h3>Forum</h3>

<ul class="questions">

	<% @forum_questions.each do |question| %>

		<li class="question">
			<div class="row">
				<div class="col-10">
					<div class="question-meta">
						<h5><%= link_to question.title, forum_question_path(question) %></h5>
						<p>
							<span class="forum-user"><%= link_to question.user.email %></span>
							<span class="time"><%= distance_of_time_in_words(question.created_at, Time.now) %> ago</span>
						</p>
						<ul>

						</ul>
					</div>
				</div>

				<div class="col-2">

					<div class="answers-count">
						<strong class="answers-count-number"><%= question.forum_answers.count %></strong>
						<p>Answers</p>
					</div>
				</div>
			</div>
		</li>

	<% end %>

</ul>