body{
	/*padding: 20px;*/
	font-family: Helvetica;
	font-size: 16px;
	background: #EDEFF0;
	max-width: 100% !important;
}

main{
	padding:30px;
}

h3{
	margin-bottom: 15px;
	text-align: center;
}

.questions{
	padding: 30px;
	background: white;
	box-shadow: 0 -4px 0 4px #edeff0, 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	z-index: 99;
	position: relative;
	transition: all 2.5s;
	-moz-transition: all 2.5s;
	-webkit-transition: all 2.5s;
}
ul.questions li.question{
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid rgba(200, 200, 200, 0.5)
}
ul.questions li.question:last-child{
	border-bottom: none;
}
	.answers-count{
		/*position: absolute;*/
		position: relative;
		/*background: red;*/
		/*width: 150px;*/
		text-align: center;
		/*position: absolute;*/
		/*text-align: right;*/
		color: #8d9aa5;
	    font-size: 12px;
	    text-align: center;
	}
		.answers-count-number{
			display: inline-block;
		    font-size: 24px;
		    font-weight: 500;
		    margin-bottom: 5px;
		    padding-top: 5px;
		    vertical-align: middle;
		    text-align: left;
		}


	.forum-user{
		color: #657380;
	    font-size: 15px;
	    font-weight: 500;
	    margin-right: 5px;
	}

	.time{
		font-size: 13px;
		font-weight: 300;
		color:rgba(30, 250, 60, 0.9);
	}
h5{
	font-size: 17px;
	margin-bottom: 5px;
	color: #3982B5;
}
.add-comment-link{
	cursor: pointer;
	color:#bbb;
	font-size: 13px;
	margin-top: -10px;
	line-height: 0;
	text-decoration: underline;
}


/*SHOW*/
.voting li{
	text-align: right;
	list-style: none;
}
	.voting li .vote-count{
		margin-right:15px;
	}

.voting-answers li{
	text-align: left;
	list-style: none;
}
	.voting-answers li .vote-count{
		margin-left:15px;
	}

.forum-question-commenting{
	margin-left: 30px;
	/*background: red;*/
}
.forum_question_comments li{
	font-size: 14px;
	list-style: none;
	border-top: 1px solid rgba(30, 250, 60, 0.3);
	/*border-bottom: 1px solid rgba(30, 250, 60, 0.3);*/
}
.forum_question_comments li:last-child{
	border-bottom: 1px solid rgba(30, 250, 60, 0.3);
}
.forum-question_comments li p{
	margin-bottom: 0;
}

.forum_question_comments span.forum-user{
	font-size: 13px;
}
.forum_question_comments span.time{
	font-size: 13px;
}



.answers{
	background: #F7F9FA;
	padding: 30px;
	padding-bottom: 15px;
	z-index: 98;
	position: relative;
}
	.answers h3{
		text-align: left;
	}

	.answers ul li.answers{
		list-style: none;
		margin-left:0;
		padding-left: 0;
		border-bottom: 2px solid white;
		padding-bottom:15px;
		padding-top:15px;
	}


.image-circles{
	border: 3px solid white;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
	border-radius: 200px;
}

.image-circle{
	border-radius: 200px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

/*COMMENT*/
.comment{
	display: none;
}



