<%= form_for [@forum_answer_comment] do |f| %>
<div>
	<span href="" class="add-comment-link">add a comment</span>
	<div class="comment">

		<%= f.hidden_field :forum_answer_id, value: @forum_answer_comment.id %>

		<%= f.text_area :body, placeholder: "Write a comment!" %>
		
		<%= f.submit %>
	</div>
</div>
<% end %>