<!DOCTYPE html>
<html>
<head>
  <title>Forum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<section class="row">
  <main class="col-9">
    <%= yield %>
  </main>
  <aside class="col-2">
  <h3>Topics</h3>
  </aside>
</section>

</body>
</html>
